![DI logo](DI_logo.png "DI logo")
# Pandas

In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [17]:
rarr = randn(4,4) # create a randomised 4x4 array

In [20]:
df = pd.DataFrame(rarr,['A','B','C','D'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  1.133533  0.439188 -0.326004 -0.946496
B -1.103806  2.108436 -1.405378  1.405445
C  0.289665  0.906370  0.666621  0.968620
D  0.078576  1.363435  0.836119  0.126551